<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>baseURL</key>
    <string>https://api.themoviedb.org/3</string>
    <key>apiKey</key>
    <string>5a0326c8179306f84e506c8d3ef1522e</string>
</dict>
</plist>
